.root {
    -fx-background-color: #020617;


}
.AppNamePanel{
    -fx-background-color: #0f172a;

}
/* ListView container */
.ClintLog {
    -fx-background-color: #0f172a;
    -fx-border-color: #334155;
}

.LogList {
    -fx-background-color : transparent;
    -fx-border-color : #334155;
}

.LogList .list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-text-fill: #e5e7eb;
    -fx-font-size: 14px;
    -fx-padding: 8 12;
}

.LogList .list-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}


/* List cells (actual items) */
.ClintLog .list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-text-fill: #e5e7eb;
    -fx-font-size: 14px;
    -fx-padding: 8 12;
}

/* Hover effect */
.ClintLog .list-cell:filled:hover {
    -fx-background-color: #1e293b;
}

/* Selected item */
.ClintLog .list-cell:selected {
    -fx-background-color: #334155;
}


.SimCard{
    -fx-background-color: #0f172a;
    -fx-border-radius: 24;
    -fx-border-color: #334155;
    -fx-background-radius:  24;

}


.ReportGenaratePanel{
    -fx-background-color: #0f172a;

}
.AddClintPanale{
    -fx-background-color: #0f172a;
    -fx-border-color: #334155;

}
.RequestInfoPanel{
    -fx-background-color: #1e293b;
    -fx-border-color: #334155;
}

.LogClearPanal{
    -fx-background-color: #0f172a;
    -fx-border-color: #334155;
}
.traffic-chart {
    -fx-background-color: rgba(20, 35, 65, 0.55);
    -fx-background-radius: 16;
    -fx-padding: 12;
}

/* Plot background (inside grid) */
.traffic-chart .chart-plot-background {
    -fx-background-color: transparent;
}

/* Remove chart border */
.traffic-chart .chart-content {
    -fx-background-color: transparent;
}

/* GRID LINES */
.traffic-chart .chart-horizontal-grid-lines,
.traffic-chart .chart-vertical-grid-lines {
    -fx-stroke: rgba(140, 170, 255, 0.15);
    -fx-stroke-dash-array: 4 6;
}

/* AXIS */
.traffic-chart .axis {
    -fx-tick-label-fill: #94a3b8;
    -fx-tick-mark-stroke: rgba(140, 170, 255, 0.2);
}

/* Hide axis line */
.traffic-chart .axis-line {
    -fx-stroke: transparent;
}

/* ===================== LINE ===================== */

/* Main traffic line */
.traffic-chart .default-color0.chart-series-line {
    -fx-stroke: #3b82f6;
    -fx-stroke-width: 2.8;
    -fx-effect: dropshadow(
            gaussian,
            rgba(59, 130, 246, 0.6),
            12,
            0.6,
            0,
            0
    );
}

/* Hide data symbols (dots) */
.traffic-chart .chart-line-symbol {
    -fx-background-color: transparent;
}

.traffic-chart .chart-legend {
    -fx-background-color: transparent;
    -fx-text-fill: #94a3b8;
}

.addbtn{
    -fx-background-color: #94a3b8;
}
.text-box{
    -fx-background-color: #334155;
    -fx-text-fill: white;
}
.single-req-btn{
    -fx-background-color: #10b981;
    -fx-padding: 8px;
}
.burst-btn{
    -fx-background-color: #d97706;
    -fx-padding: 8px;
}
.genarate-btn{
    -fx-background-color: #2563eb;
    -fx-padding: 8px;
}
.clear-btn{
    -fx-background-color: transparent;
}
.combo-box{
    -fx-background-color: #334155;
    -fx-text-fill: white;
}
.combo-box .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box .arrow-button{
    -fx-background-color: transparent;
}
.combo-box .arrow{
    -fx-background-color: white;
}

.combo-box-popup .list-view{
    -fx-background-color: #334155;
}
.combo-box-popup .list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 8px;
}
.combo-box-popup .list-cell:hover{
    -fx-text-fill: #3b82f6;
    -fx-background-color: #1e293b;
}
.combo-box-popup .list-cell:selected{
    -fx-text-fill:  #2563eb;
    -fx-background-color: #334155;

}

/* ===== Scrollbar for both ListViews ===== */

.LogList .scroll-bar:vertical,
.ClintList .scroll-bar:vertical,
.report-list .scroll-bar:vertical{
    -fx-pref-width: 7px;
    -fx-background-color: transparent;
}

.LogList .scroll-bar:vertical .track,
.ClintList .scroll-bar:vertical .track,
.report-list .scroll-bar:vertical .track{
    -fx-background-color: transparent;
}

.LogList .scroll-bar:vertical .thumb,
.ClintList .scroll-bar:vertical .thumb,
.report-list .scroll-bar:vertical .thumb{
    -fx-background-color: #475569;
    -fx-background-radius: 10px;
    -fx-background-insets: 1px;
}

.LogList .scroll-bar:vertical .thumb:hover,
.ClintList .scroll-bar:vertical .thumb:hover ,
.report-list .scroll-bar:vertical .thumb:hover{
    -fx-background-color: #64748b;
}

/* Remove scrollbar arrows */
.LogList .scroll-bar:vertical .increment-button,
.LogList .scroll-bar:vertical .decrement-button,
.ClintList .scroll-bar:vertical .increment-button,
.ClintList .scroll-bar:vertical .decrement-button,
.report-list .scroll-bar:vertical .increment-button,
.report-list .scroll-bar:vertical .decrement-button
{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.LogList .scroll-bar:vertical .increment-arrow,
.LogList .scroll-bar:vertical .decrement-arrow,
.ClintList .scroll-bar:vertical .increment-arrow,
.ClintList .scroll-bar:vertical .decrement-arrow,
.report-list .scroll-bar:vertical .increment-arrow,
.report-list .scroll-bar:vertical .decrement-arrow{
    -fx-shape: "";
    -fx-padding: 0;
}

.traffic-chart .chart-vertical-grid-lines,
.traffic-chart .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.traffic-chart .chart-alternative-row-fill,
.traffic-chart .chart-alternative-column-fill {
    -fx-fill: transparent;
}

.traffic-chart .chart-plot-background {
    -fx-background-color: transparent;
}

.traffic-chart .chart-series-line {
    -fx-stroke-width: 2px;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
}

.critical-button {
    -fx-background-color: #ef4444;
    -fx-text-fill: white;
    -fx-opacity: 0.7;
}
